<div>
<div class="newItemContainer" cdkDrag cdkDragDisabled>
  <form class="formContainer" [formGroup]="formControlGroup">


    <div style="display: inline-flex">

    <mat-form-field class="quantityInput">
      <mat-label>Quantity</mat-label>
      <input [ngModel]="quantity" matInput type="number" placeholder="Ex. 3" formControlName="quantity" min="1" max="99">
      <mat-error *ngIf="quantity < 1 ">Quantity must be between 1 and 99</mat-error>
      <mat-error *ngIf="quantity > 99">Quantity must be between 1 and 99</mat-error>
    </mat-form-field>

    <mat-form-field class="titleInput" color="accent">
      <mat-label>Title</mat-label>
      <input matInput
             type="text"
             [ngModel]="title"
             placeholder="New item"
             formControlName="title"
             required>

      <mat-error *ngIf="title.length < 1">Title must be longer than one character</mat-error>
    </mat-form-field>

    </div>

    <mat-form-field class="categoryInput" color="accent">
      <mat-label>Category</mat-label>
      <input matInput
             type="text"
             [ngModel]="category"
             placeholder="Ex. Fruit"
             formControlName="category"
             required
             [matAutocomplete]="auto">
      <mat-error *ngIf="!categories.includes(category)">Not a valid category</mat-error>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let categoryOpt of categories" [value]="categoryOpt">
        {{categoryOpt}}
      </mat-option>
    </mat-autocomplete>

  </form>
</div>
<div class="buttonContainer">
  <button mat-raised-button color="primary" class="cancelButton" (click)="close()">Close</button>
  <button mat-raised-button color="primary" class="addButton" (click)="addItem()">Add</button>
</div>
</div>
