<h1 mat-dialog-title>
  Edit title
</h1>

<div mat-dialog-content>
  <form class="form" [formGroup]="form">
    <mat-form-field class="form-full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="List title" formControlName="title" value="{{groceryList.title}}">
    </mat-form-field>
    <div *ngIf="title.errors?.['required']">
      Name is required.
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (keyup.escape)="onCancel()" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (keyup.enter)="onSave()" (click)="onSave()">Save</button>
</div>
