
<mat-toolbar color="primary">
  <img [src]="image" alt="Logo" width="10%" (click)="goHome()"/>
  <span class="spacer"></span>

  <div>
    <!--
      if the user not logged in, show the login and register buttons
      then hide them when the user logged in
    -->
    <button mat-button (click)="openLoginForm()">Login</button>
    <button mat-button (click)="openRegisterForm()">Register</button>
    <!--
      if the user logged in drop down menu will be shown on the right side of the navigation bar
      when the user click on the drop down menu, the user can see the profile and logout button
    -->
    <div>
      <img src="user profile pic" alt="profile img"/>
      <span>user?.displayName</span>
      <button mat-button routerLink="/account">Edit Profile</button>
      <span>-</span>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact</button>
      <span>-</span>
      <button mat-button routerLink="/logout">Logout</button>
    </div>

  </div>

</mat-toolbar>
