<div> <!-- Glow -->

  <div class="state-checkbox"
       (click)="onChange()"
       [class.skipped]="status === statusEnum.Skipped"
       [class.done]="status === statusEnum.Done"
       [class.unchecked]="status === statusEnum.Unchecked"

       (change)="onChange()"> <!-- Frame -->

        <mat-icon [@inOutAnimation] class="icon" *ngIf="statusEnum.Done === status">done</mat-icon>

        <mat-icon  [@inOutAnimation] class="icon" *ngIf="status === statusEnum.Skipped">clear</mat-icon>
        <mat-icon  [@inOutAnimation] class="icon" *ngIf="status === statusEnum.Unchecked"></mat-icon>
  </div>

</div>
