@use "sass:map";
@import "src/assets/themeVariables.scss";

.state-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid map.get($grey-colors, "darker");
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 2px;

  &.skipped {
    background-color: map.get($warn-colors, "main");
    border: 2px solid map.get($warn-colors, "main");
  }

  &.done {
    background-color: map.get($accent-colors, "main");
    border: 2px solid map.get($accent-colors, "main");
  }

  &.unchecked {
    background-color: transparent;
    border: 2px solid map.get($grey-colors, "darker");
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.9);
  }
}

.show {
  animation: show 0.3s ease-in-out;
}

.hide {
  animation: hide 0.3s ease-in-out;
}

.icon {
  vertical-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 18px;
  transform: scale(0.9);
  color: $light-background;
  animation: scale 0.2s ease-in-out;
}
