<div style="width: 20em;">
<div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 10px">

  <h2 style="margin-top: 4px">Login</h2>
  <button style="" class="closeButton" mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>

</div>


<div mat-dialog-content class="contentContainer">
  <form class="formContainer">
    <mat-form-field appearance="fill" (click)="clearError()">
      <mat-label>Username</mat-label>
      <input required="true"
             matInput type="text"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="this.loginRequest.username"
             name="username"
             (keyup.enter)="login()">
    </mat-form-field>
    <mat-form-field appearance="fill" (click)="clearError()">
      <mat-label>Password</mat-label>
      <input required="true"
             matInput type="password"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="this.loginRequest.password"
             name="password"
             (keyup.enter)="login()">
    </mat-form-field>

    <mat-checkbox style="float: left" (change)="toggleRememberMe()" [checked]="rememberMe" name="rememberMe">Remember me</mat-checkbox>

    <div class="error">
      <p class="errorText" [ngClass]="error !== '' ? 'visible' : 'hidden'">
        {{error}}
      </p>
    </div>

  </form>

<div class="buttonContainer">
  <a mat-button (click)="openRegisterForm()">Register new account</a>
  <button class="actionButton" style="float: right; margin-bottom: 20px" type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
  <!--- <a mat-button (click)="openForgotPasswordForm()">Forgot password</a> -->
</div>

</div>
</div>
