@use "sass:map";
@import "src/assets/themeVariables.scss";


.testBox {
  background-color: map.get($accent-colors, "lighter");
  color: $dark-primary-text;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  max-height: 100px;
}


.mat-expansion-panel {
  display: flex !important;
  flex-direction: column;
}
.mat-expansion-panel-header {
  order: 2;
}
