
<div  class="parentContainer">

  <!-- Container for the GroceryList header, containing the title and other actions -->
  <div class="titleContainer">

    <!-- Back button -->
    <button mat-icon-button class="backButton" (click)="navigateBack()">
      <mat-icon class="back-icon"> arrow_back </mat-icon>
    </button>

    <!-- Title -->
    <h2 class="title">
      {{groceryList.title}}
    </h2>

    <!-- Container for the other actions -->
    <div class="listActionsContainer">

      <!-- Sync button -- Disabled while syncing -->
      <button mat-icon-button [disabled]="syncing"
              class="listActionBtn"
              (click)="sync()">
        <mat-icon [ngClass]="{'syncingAnimation': syncing}">
          sync
        </mat-icon>
      </button>

      <!-- Button for activating mat Menu -->
      <button mat-icon-button [matMenuTriggerFor]="listMenu"
              class="listActionBtn"
              #t="matMenuTrigger" [class.opened]="t.menuOpen" aria-label="Item menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!-- Mat menu for the list actions -->
      <mat-menu #listMenu="matMenu">
        <!-- share button -->
        <button [disabled]="true" mat-menu-item>
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </button>
        <!-- Edit list title -->
        <button mat-menu-item (click)="editListName()">
          <mat-icon>edit</mat-icon>
          <span>Edit name</span>
        </button>
        <!-- Delete list -->
        <button mat-menu-item (click)="deleteList()">
          <mat-icon>delete</mat-icon>
          <span class="deleteLbl">Delete</span>
        </button>

      </mat-menu>

    </div>
  </div>


  <!-- ITEMS -->
  <div cdkDropList class="itemDnDContainer" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="dragAndDropIsDisabled()"> <!-- Drag and Drop container -->
    <div  [@inOutAnimation] *ngFor="let item of groceryList.items"
          class="itemBox"
          [ngClass]="{
          'itemBox': item.status === statusEnum.Unchecked,
          'itemBoxChecked': item.status === statusEnum.Done,
          'itemBoxSkipped': item.status === statusEnum.Skipped,
          'itemBoxSelected': selectedItems.includes(item),
          'itemBoxCheckedAndSelected': selectedItems.includes(item) && item.status === statusEnum.Done,
          'itemBoxSkippedAndSelected': selectedItems.includes(item) && item.status === statusEnum.Skipped
          }"
          (click)="selectItem(item)"
          cdkDrag [cdkDragData]="item">
      <!-- Individual items | ngClass will apply the the correct class as described by each scenario-->

      <div *ngIf="editingItem !== item; else editItemTemplate">

      <div style="display: inline-flex; align-items: center">
        <p class="quantityIndicator" *ngIf="item.quantity > 1; else standardQuantity">{{item.quantity}}</p> <!-- Quantity indicator -->
        <ng-template #standardQuantity>  <!-- Standard quantity indicator with numbers -->
          <p class="quantityIndicatorSingle" *ngIf="item.quantity == 1;"></p>  <!-- Single quantity indicator with only a circle -->
        </ng-template>
        <mat-label>{{item.title | truncate: 60}}</mat-label>  <!-- Item title truncated to 60 chars-->
        <mat-label class="category" *ngIf="item.category && item.category != 'None'"> <!-- Item category | Not displayed if the category is 'None'-->
          <span>  {{item.category}} </span>
        </mat-label>
      </div>
      <!-- MockCheckbox -->
      <app-tri-state-checkbox
        (click)="$event.stopPropagation()"
        [status]="item.status"
        (statusChangedEvent)="item.status = $event"
        class="itemCheckbox">

      </app-tri-state-checkbox>

      </div>

      <ng-template #editItemTemplate>  <!-- Template for the edit item dialog -->
        <app-edit-item
          (click)="$event.stopPropagation()"
          class="editingItemBox" [listItem]="item"
          (editItemEvent)="editItem($event)"
          (cancelEditItemEvent)="cancelEditItem(true)">
        </app-edit-item>
      </ng-template>

    </div>

    <!-- item creation panel, using the new-item component. NewItemEvent and CancelItemCreationEvent are @output events
     in the child component and will be emitted in addItem() and close(). The [groceryListId] sets the variable
     groceryListId in the child component to the chosen value, using @input -->
     <div id="item-creation-panel" [ngClass]="creatingItem ? 'animateIntoFrame' : 'animateOutOfFrame'">
      <app-new-item
        id="new-item-panel" [groceryListId]="groceryList.id" [listSize]="groceryList.items.length"
        (newItemEvent)="addItem($event)" (closeItemCreationEvent)="showNewItemPanel(!$event)">
      </app-new-item>
    </div>
  </div>


  <!-- Anchored bottom panel for list actions -->
  <div class="dockToBottom">

    <button (click)="showNewItemPanel(true)" mat-fab class="matFabAddBtn" style="margin-left: 12px">
      <mat-icon class="icon-display">add</mat-icon>
    </button>

  <div class="crudActionsContainer" [ngClass]="selectedItems.length > 0 ? 'animateIntoFrame' : 'animateOutOfFrame'">

    <button  [ngClass]="selectedItems.length === 1 ? 'animateIntoFrame' : 'animateOutOfFrame'"
             (click)="startEditingItem()"
             mat-mini-fab class="matFabMiniBtn">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-mini-fab (click)="deleteItems()" class="matFabDeleteBtn">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-mini-fab (click)="clearSelectedItems()" class="matFabMiniBtn">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  </div>
</div>
